:root{
    --green-color: #1f8053;
    --text-color: #c6c6c6;
    --black-color: black;
    --white-color: white;
    --border-color: #1c1c1c;
    --rgb-black: 0, 0, 0;
    --rgb-green: 31, 120, 83;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hanken Grotesk", sans-serif;
    background-color: black;
    color: white;
}

section{
    overflow-x: clip;
}

.container{
    max-width: 1860px;
    margin: auto;
    padding: 0 10px;
}

header{
    padding: 50px 10px;
    position: fixed;
    z-index: 99;
    width: 100%;
    animation: drop 1s;
}

.nav-toggle{
    display: none;
    background: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav-toggle .bar{
    display: block;
    width: 100%;
    height: 2px;
    margin: 7px 0;
    background-color: var(--white-color);
}

a{
    color: white;
    text-decoration: none;
}

.main-nav nav a{
    transition: 0.3s;
}

.main-nav nav a:hover{
    color: #1f8053;
}


.main-nav{
    display: flex;
    justify-content: space-between;
}

.main-nav nav{
    display: flex;
    gap: 20px;
    border: 1px solid #1c1c1c;
    padding: 15px 50px;
    border-radius: 30px;
    background-color: rgba(var(--rgb-black), 0.5);
    box-shadow: 0px 5px 30px rgba(var(--rgb-black), 0.5);
    backdrop-filter: blur(10px);
}
.main-nav a img{
    filter: drop-shadow(-1px 3px 2px  rgba(0,0,0,0.69));
}

.secondary-cta-btn{
    padding: 15px 20px;
    border: 1px solid #1c1c1c;
    border-radius: 30px;
    transition: 0.3s;
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    background-color: rgba(var(--rgb-black), 0.5);
    box-shadow: 0px 5px 30px rgba(var(--rgb-black), 0.5);
    backdrop-filter: blur(10px);
}

.secondary-cta-btn:hover{
    border: 1px solid #1f8053;
}

.ctn-btn{
    display: inline-block;
    align-items: center;
    background: linear-gradient(90deg,rgba(31, 128, 83, 1) 0%, rgba(17, 17, 17, 0) 50%);
    padding: 2px;
    border-radius: 30px;
}

.arrow-btn-wrapper{
    overflow: hidden;
    width: 17px;
    height: 17px;
}
.arrow-btn-wrapper img{
    
    transform: rotate(-45deg);
    transition: 0.3s;

}
a:hover .arrow-btn-wrapper img{
    animation: moving-arrow 0.3s linear;
}

.secondary-cta-btn::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}
.secondary-cta-btn:hover::before{
    background: linear-gradient(90deg,rgba(17, 17, 17, 0) 0%, rgba(31, 128, 83, 0.6) 50%, rgba(17, 17, 17, 0) 100%);
    
}

.ctn-btn .border-btn{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(31,128,83,0.7);
}

.ctn-btn:hover{
    background: linear-gradient(90deg,rgba(31, 128, 83, 1) 0%, rgba(31, 128, 83, 1) 100%);
}

.border-btn:hover{
    animation: puls 2s infinite;
}

.video-wrapper video{
    transform: rotate(180deg);
    width: 100%;
}
.hero{
    position: relative;
    height: 100vh;
    padding-top: 200px;
    z-index: 0;
}
.hero .video-wrapper{
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 75%;
}
.hero .hero-content{
    position: relative;
    z-index: 3;
    text-align: center;
}
.hero .hero-content h1{
    font-size: 9.375rem;
    font-weight: 800;
    line-height: 1.2;
    background: linear-gradient(90deg,rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%), rgba(150, 209, 176, 1) 100%;
    color: transparent;
    background-clip: text;
    animation: fade-in 1s;
}
.hero .hero-content h2{
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1;
}
.hero .hero-content p{
    max-width: 880px;
    font-size: 1.5rem;
    font-weight: 300;
}
.hero-content .hero-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(1, 1, 1, 0.4);
    z-index: 2;
}
.video-wrapper .video-over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg,rgba(1, 1, 1, 0) 0%, rgba(1, 1, 1, 1) 100%);
}

.hero .hero-lines{
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    height: 70vh;
}

.portfolio{
    max-width: 100%;
    padding: 50px 0;
}

.portfolio-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.portfolio-header .portfolio-title{
    font-size: 3.75rem;
    font-weight: 800;
    background: linear-gradient(90deg,rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%), rgba(150, 209, 176, 1) 100%;
    color: transparent;
    background-clip: text;
}

.portfolio .portfolio-items .portfolio-item a video{
    max-width: 100%;
    border-radius: 15px;
    border: 1px solid var(--border-color);
}

.portfolio .portfolio-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}
.portfolio .portfolio-items .portfolio-item a .portfolio-tags{
    display: flex;
    gap:10px;
}
.portfolio .portfolio-items .portfolio-item a .portfolio-tags div{
    background-color: var(--border-color);
    font-size: 1.125rem;
    font-weight: 300;
    border-radius: 5px;
    padding: 5px 15px;
}
.portfolio .portfolio-items .portfolio-item a .portfolio-item-text-wrapper{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.portfolio .portfolio-items .portfolio-item a .portfolio-item-text-wrapper h3{
    font-size: 1.875rem;
    font-weight: 400;
}
.portfolio .portfolio-items .portfolio-item a .portfolio-item-text-wrapper p{
    font-weight: 300;
}
.portfolio .portfolio-items .portfolio-item a{
    position: relative;
}
.portfolio .portfolio-items .portfolio-item a::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}
.portfolio .portfolio-items .portfolio-item a:hover::after{
    opacity: 1;
    background: radial-gradient(circle,rgba(var(--rgb-green), 0.3) 0%, rgba(var(--rgb-black), 0) 100%);
}
.portfolio .portfolio-items .portfolio-item::after{
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: linear-gradient(90deg,rgba(31, 128, 83, 0) 0%, rgba(28, 28, 28, 1) 50%, rgba(17, 17, 17, 0) 100%);
}

.call-to-action{
    padding: 30px, 0;
    margin: 70px 0;
}
.call-to-action p{
    font-weight: 300;
    font-size: 3.123rem;
    margin-bottom: 50px;
}
.call-to-action p span{
    animation: word-fade 2s linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 50%;
    animation-delay: calc(var(--i)*100ms);
}

.services {
    padding: 70px 0;
}

.services-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);   
    background-color: var(--border-color);
    gap: 1px;
    border: 1px solid var(--border-color);
    margin-top: 50px;
}

.services-item.span-2{
    grid-column: span 2;
}

.services-item{
    position: relative;
    min-height: 320px;
    overflow: hidden;
    background-color: rgba(var(--rgb-black), 1);
}

.services-item a::before{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    margin: 15px;
    position: absolute;
}

.services-item a:hover::before{
    background-color: var(--white-color);
    z-index: 1;
}



.services-grid .services-item video{
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}

.services-item a:hover video {
    opacity: 1;
}

.services-item .services-item-content{
    display: flex;
    flex-direction: column;
    bottom: 0;
    padding: 10px;
    width: 100%;
    filter: drop-shadow(-1px 3px 2px  rgba(0,0,0,0.69));
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 30%, rgba(17, 17, 17, 0) 100%);
    transform: translateY(50%);
    gap: 20px;
    transition: 0.4s;
    position: absolute;
}
.services-item a:hover .services-item-content{
    transform: translateY(0);

}

.services-item .services-item-content .services-item-content-t{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.services-item .services-item-content .services-item-content-t img{
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
}

.services-item .services-item-content h3{
    font-weight: 400px;
    font-size: 2rem;
}

.services-item .services-item-content p{
    font-weight: 300px;
    max-width: 570px;
}

.blog{
    padding: 50px 0;
    margin: 20px 0;
}

.blog-items{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.blog-items .blog-item img{
    max-width: 100%;
    border-radius: 15px;
}

.blog-items .blog-item .blog-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.blog-items .blog-item .blog-content .author-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
}

.author-wrap-t{
    display: flex;
    gap: 10px;
    align-items: center;
}

.author-wrap-t img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 70%;
}

.author-wrap-c{
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--text-color)
}

.blog-item .blog-content h3{
    font-weight: 500;
    font-size: 1.875rem;
}

.blog-item .blog-content p{
    font-weight: 300;
}

.blog-items .blog-item:hover a{
    display: block;
    animation: blur-in 0.5s both;
}

.dot{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--white-color);
    
}

.bcta{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.bcta-content{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.bcta-content a{
    backdrop-filter: blur(10px);
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    border: 2px solid var(--border-color);
    border-radius: 100px;
    padding: 30px 150px;
    background: linear-gradient(90deg,rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%), rgba(150, 209, 176, 1) 100%;
    color: transparent;
    background-clip: text;
    transition: 0.2s;
}
.bcta-content a:hover{
    animation: puls-inset 2s infinite;
    
}

.bcta-wrapper{
    width: 100%;
    height: 100%;
}
.bcta-wrapper video{
    position: absolute;
    width: 80%;
    z-index: 0;
    left: 10%;
}

.glow-effect{
    position: absolute;
    background: radial-gradient(circle,rgba(31, 128, 83, 1) 0%, rgba(31, 128, 83, 0.2) 50%, rgba(17, 17, 17, 0) 100%);
    height: 32.25rem;
    width: 32.25rem;
    z-index: 1;
    opacity: 0.3;
}

.top-left{
    top: 7%;
    left: 5%;
}

.bottom-right{
    bottom: 10%;
    right: 5%;
}

.bcta-top{
    position: absolute;
    top: 60%;
    z-index: 1;

}
.bcta-right{
    position: absolute;
    right: 0;
    top: 30%;
    z-index: 1;
}

footer{
    padding-top: 50px;
    position: relative;
    overflow: hidden;
    color: var(--white-color);
}
.footer-main{
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    position: relative;
    z-index: 2;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 1fr;
    border-left: 1px solid var(--border-color);
}

.footer-grid .footer-grid-up{
    font-size: 1.5rem;
    padding: 40px;
    font-weight: 600;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);


}

.footer-grid .footer-grid-down{
    padding: 50px ;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-grid .footer-grid-down a span{
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%), rgba(150, 209, 176, 1) 100%;
    color: transparent;
    background-clip: text; 
}

.footer-grid .footer-grid-down a{
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.footer-grid .footer-grid-down a:hover{
    color: var(--green-color);
}



footer video{
    position: absolute;
    z-index: 0;
    width: 3000px;
    left: -10%;
    top: -20%;

}

footer::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgb-black), 0.5);
    backdrop-filter: blur(20px);
}

footer .footer-copyright{
    position: relative;
    z-index: 2;
}

footer .footer-copyright .footer-copyright-wrapper{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.responsive-view{
    display: none;
}









@media(max-width:1366px){
    .hero .hero-content h1 {
        font-size: 7rem;
    }

    .container{
        padding: 0 20px;
    }

    .blog-items .blog-item .blog-content .author-wrap{
        font-size: 1rem;
    }

    .bcta-content a{
        font-size: 4.5rem;
        font-weight: 800;
        padding: 30px 130px;
    }
}

@media(max-width:1024px){
    header{
        padding: 20px 0;
        background-color: var(--black-color);
    }

    .main-nav {
        align-items: center;
    }

    .nav-toggle{
        display: block;
    }

    .nav-toggle .bar{
        transition: 0.3s;
    }

    .nav-toggle[aria-expanded=true] .bar:first-child{
        transform: rotate(45deg);
    }

    .nav-toggle[aria-expanded=true] .bar:nth-child(2){
        transform: translate(0px, -9px) rotate(-45deg);
    }

    .nav-toggle[aria-expanded=true] .bar:last-child{
        display: none;
    }

    .main-nav{
        position: relative;
    }

    .main-nav nav{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: block;
        max-height: 0;
        overflow: clip;
        transition: max-height 250ms ease;
        background-color: transparent;
        padding: 0;
        border: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .main-nav nav.is-open{
        max-height: 80vh;
        padding: 20px 0;
    }

    .main-nav nav a:not(.secondary-cta-btn){
        display: block;
        padding: 10px 0;
    }

    .blog-items{
        gap: 40px;
    }

    .blog-items .blog-item:last-child{
        display: none;
    }

    .portfolio-header .portfolio-title{
        font-size: 2.7rem;
    }

    .bcta-content a{
        font-size: 3.5rem;
        font-weight: 800;
        padding: 30px 130px;
    }

    .services-item .services-item-content{
        transform: translateY(0);
    }

    .services-grid .services-item video {
        opacity: 1;
    }

    .call-to-action p {
        font-size: 2.7rem;
    }

    .hero{
        padding-top: 150px;
    }
}

@media(max-width:991px){
    .hero .hero-content h1 {
        font-size: 6rem;
    }

    .hero .hero-content p{
        font-size: 1.2rem;
        padding: 0 50px;
    }

    .portfolio-header .portfolio-title{
        font-size: 2rem;
    }

    .portfolio .portfolio-items .portfolio-item a .portfolio-tags div{
        font-size: 1rem;
    }

    .portfolio .portfolio-items .portfolio-item a .portfolio-item-text-wrapper h3{
        font-size: 1.5rem;
    }

    .call-to-action p{
        font-size: 2.2rem;
    }

    .services{
        padding: 40px 0;
    }

    .services-item.responsive-span-2{
        grid-column: 2 span;
    }
    
    .services-item.responsive-span-3{
        grid-column: 3 span;
    } 

    .footer-grid .footer-grid-up{
        padding: 20px;
    }

    .footer-grid .footer-grid-down{
        padding: 20px;
    }

    .bcta-content a{
        font-size: 3.2rem;
        font-weight: 800;
        padding: 30px 130px;
    }
}

@media(max-width:767px){
    .container {
        padding: 0 10%;
    }

    .hero .hero-content h1 {
        font-size: 4rem;
    }

    .hero .hero-content h2 {
        font-size: 1.4rem;
    }

    .call-to-action p {
        font-size: 1.8rem;
        text-align: center;
    }

    .responsive-ctn-btn{
        display: flex;
        justify-content: center;
    }

    .portfolio .portfolio-items{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .services-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .bcta{
        height: 80vh;
    }
    .bcta-content{
        padding: 0 10%;
    }

    .bcta-content a{
        font-size: 2rem;
    }

    .background-additions{
        width: 150px;
    }

    .glow-effect{
        transform: scale(0.5);
    }

    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-grid .footer-grid-up{
        display: none;
    }

    .footer-grid .footer-grid-down a{
        text-align: center;
    }

    .blog-items .blog-item .blog-content .author-wrap{
        font-size: 0.76rem;
    }

    footer .footer-copyright .footer-copyright-wrapper{
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
    }

    .responsive-none{
        display: none;
    }

    .responsive-view{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}

@media(max-width:630px){
    .services-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-items{
        flex-direction: column;
    }

    .bcta-content a{
        font-size: 1.6rem;
        padding: 30px 100px;
    }
}
